{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="icon" type="image/png" href="{% static 'logo.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>

<body>
    <div class="container">
        <nav>
            <ul>
                <li><a href="" class="logo">
                        <img src="{% static 'images/logo.jpg' %}" alt="">
                        <span class="nav-item">VEDAQUEST</span>
                    </a></li>
                <li><a href="" target="_self">
                        <i class="fas fa-user"></i>
                        <span class="nav-item">Profile</span>
                    </a></li>
                <li><a href="/course">
                        <i class="fas fa-wallet"></i>
                        <span class="nav-item">Courses</span>
                    </a></li>
                <li><a href="doubt">
                        <i class="fas fa-chart-bar"></i>
                        <span class="nav-item">Doubt</span>
                    </a></li>
                <li><a href="tasks">
                        <i class="fas fa-tasks"></i>
                        <span class="nav-item">Tasks</span>
                    </a></li>
                <li><a href="/" class="logout">
                        <i class="fas fa-sign-out-alt"></i>
                        <span class="nav-item"> Log out</span>
                    </a></li>
            </ul>
        </nav>
        <section class="main">
            <div class="information">
                <div class="main-top">
                    <h1>Profile</h1>
                    <i class="fas fa-user-cog"></i>
                </div>
                <div class="main-profile">
                    <div class="card">
                        <div class="profile-pic"><img src="{%static 'images/default_dp.jpg'%}" alt="Profile Picture">
                        </div>
                        <div class="full-name">Raj Kedia </div>
                        <div class="user-name">rajkedia19</div>
                        <div class="profession">Student</div>
                        <div class="pts">Points: 169</div>
                    </div>
                    <div class="card">
                        <table class="details">
                            <tr>
                                <th>Email</th>
                                <td>rajramkola786@gmail.com</td>
                            </tr>
                            <tr>
                                <th>Phone</th>
                                <td>8858580090</td>
                            </tr>
                            <tr>
                                <th>Address</th>
                                <td>Shillong, Meghalaya, India</td>
                            </tr>
                            <tr>
                                <th>Courses Completed</th>
                                <td>0</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <section class="main-course">
                <h1>Enrolled courses</h1>
                <div class="course-box">
                    <div class="course">
                        <div class="box">
                            <h3>HTML</h3>
                            <p>0% - progress</p>
                            <button>continue</button>
                            <i class="fab fa-html5 html"></i>
                        </div>
                        <div class="box">
                            <h3>CSS</h3>
                            <p>0% - progress</p>
                            <button>continue</button>
                            <i class="fab fa-css3-alt css"></i>
                        </div>
                        <div class="box">
                            <h3>JavaScript</h3>
                            <p>0% - progress</p>
                            <button>continue</button>
                            <i class="fab fa-js-square js"></i>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>

</body>

</html>