@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #dfe9f5;
}

.container {
    display: flex;
}

nav {
    position: relative;
    top: 0;
    bottom: 0;
    height: 155vh;
    left: 0;
    background: #fff;
    width: 80%;
    overflow: hidden;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.logo {
    text-align: center;
    display: flex;
    margin: 10px 0 0 10px;
}

.logo img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.logo span {
    font-weight: bold;
    padding-left: 15px;
    font-size: 18px;
    text-transform: uppercase;
}

a {
    position: relative;
    color: rgb(85, 83, 83);
    font-size: 14px;
    display: table;
    vertical-align: middle;
    width: 280px;
    padding: 10px;
}

nav .fas {
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;

}

.nav-item {
    position: relative;
    top: 12px;
    margin-left: 10px;
}

a:hover {
    background: #eee;
}

.logout {
    position: absolute;
    bottom: 0;
}

.courses-top {
    padding: 20px;
}

.box {
    margin: 20px;
    margin-left: 10px;
    text-transform: capitalize;
    width: auto;
    height: fit-content;
    padding: 10px 10px 30px 10px;
    margin-top: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

.courses-list .box h3 {
    font-size: 2rem;
}

.courses-list .box h5 {
    padding: 5px;
    font-size: 1.2rem;
}

.courses-list .box .more-info {
    padding: 5px;
    display: flex;
    justify-content: space-between;
}

.courses-list .box button {
    background: rgb(1, 213, 107);
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.courses-list .box button:hover {
    background: rgba(16, 222, 133, 0.856);
}