{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'dashboard.css'%}">
    <title>VEDAQUEST</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="{%static 'images/logo.jpg'%}">
</head>

<body>
    <div class="dashboard-top d-flex justify-content-between">
        <div class="dashboard-top-left">
            <img class="logo" src="{% static 'images/logo.jpg' %}">
            <p class="name">vedaquest</p>
        </div>
        <div>
            <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#loginModal">
                Login
            </button>
            <button type="button" class="btn btn-primary mr-2" data-toggle="modal" data-target="#signupModal">
                SignUp
            </button>
        </div>
    </div>


    <div class="welcome">WELCOME TO VEDAQUEST<br><span class="lower-desc">The Personalised Learning Platform </span>
    </div>
    <div class="about-wrapper">
        <p class="about">About</p>
        <div class="about-wrapper">
            <p class="description">
                Welcome to Vedaquest, your personalized learning platform. We believe in making education accessible,
                interactive, and effective.
                Our mission is to empower learners of all levels with high-quality courses and resources. With a team of
                dedicated experts,
                we strive to provide you with the best learning experience possible.
            </p>
            <p class="description">
                Our carefully curated courses cover a wide range of topics, from programming and web development to art
                and literature.
                Whether you're a beginner or an advanced learner, we have something for everyone. Join us on this
                educational journey
                and unlock your full potential!
            </p>
        </div>
    </div>
    <div class="courses">
        <p class="course-heading"></p>
    </div>

    <!-- SignUp Modal -->
    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signupModalTitle">SignUp Here</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="home/signup" method='post'>
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="username" name="username"
                                placeholder="Choose a unique username" required>
                        </div>
                        <div class="form-group">
                            <label for="fname">First Name</label>
                            <input type="text" class="form-control" id="fname" name="fname"
                                placeholder="Enter Your First Name" required>
                        </div>
                        <div class="form-group">
                            <label for="lname">Last Name</label>
                            <input type="text" class="form-control" id="lname" name="lname"
                                placeholder="Enter Your Last Name" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Email address</label>
                            <input type="email" class="form-control" id="email" name="email"
                                placeholder="name@example.com" required>
                        </div>

                        <div class="form-group">
                            <label for="address">Address</label>
                            <input type="text" class="form-control" id="address" name="address"
                                placeholder="city, state, country" required>
                        </div>
                        <div class="form-group">
                            <label for="email">Phone numberr</label>
                            <input type="number" class="form-control" id="phonenumber" name="phonenumber"
                                placeholder="phone number" required>
                        </div>
                        <div class="form-group">
                            <label for="pass1">Choose a password</label>
                            <input type="password" class="form-control" id="pass1" name="pass1"
                                placeholder="Choose Your Password" required>
                        </div>
                        <div class="form-group">
                            <label for="pass2">Confirm Password</label>
                            <input type="password" class="form-control" id="pass2" name="pass2"
                                placeholder="Enter your password again" required>
                        </div>


                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>

    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginModalTitle">Login Here</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="home/login" method="POST"> {% csrf_token %}
                        <div class="form-group">
                            <label for="username">Username</label>
                            <input type="text" class="form-control" id="loginusername" name="loginusername"
                                placeholder="Enter your username " required>
                        </div>
                        <div class="form-group">
                            <label for="pass">Enter your password </label>
                            <input type="password" class="form-control" id="loginpassword" name="loginpassword"
                                placeholder="Enter your password " required>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="modal-footer">
                </div>

                <!-- Optional JavaScript -->
                <!-- jQuery first, then Popper.js, then Bootstrap JS -->
                <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
                    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
                    crossorigin="anonymous"></script>
                <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
                    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
                    crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
                    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
                    crossorigin="anonymous"></script>

</body>

</html>